﻿@model IEnumerable<MVCDemo3.Models.Food>

@{
    ViewBag.Title = "Show List1";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1>A simple list will be displayed on this page</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <p><b>@item.name</b></p>
        <p>@item.type</p>

        <p>-----------------------------------------------------------------</p>
    }
</div>