﻿
@model IEnumerable<MVCDemo3.Models.SuperHero>

@{
    ViewBag.Title = "Show List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h1>A simple list will be displayed on this page</h1>
</div>

<div>
    @foreach (var item in Model)
    {
        <p><b>@item.name</b></p>
        <p>@item.age</p>
        <p>@item.brand</p>
        <p>@item.power</p>
        <p>-----------------------------------------------------------------</p>
    }
</div>